.parentDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    width: 100%;
    height: 100%;
}
.searchFormMainDiv{
    width: 30vw;
    height: 60vh;
    /* background-color: blanchedalmond; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    border: 1px #E5E5E5 solid;
    display: block;
}
.formTitle{
width: 100%;
height: 20%;
/* background-color: blue; */
border-bottom: 1px #E5E5E5 solid;
display: flex;
justify-content: center;
align-items: center;
}
.inputField{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submitBtn{
    width: 100%;
    height: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.displayLyricsMain{
    width: 100%;
    height:100%;
    /* background-color: tomato; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.lyricsMain{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardImg{
    width: 30%;
    height: 100%;
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ImageOfMusic{
    width: 100%;
    height: 60%;
    /* background-color: coral; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-top-left-radius: 20px;
}
.musicInfo{
    width: 100%;
    height: 40%;
    /* background-color: orange; */
background: linear-gradient(#b85d12,#9c6008,#947504);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-family: 'Recursive', sans-serif;

}
.musicPlayer{
    width: 80%;
    height: 30%;
    /* background-color: red; */
    margin-top: 40px;
}
.musicLyrics{
    width: 70%;
    height: 100%;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow-y: scroll;
    font-family: 'Recursive', sans-serif;
    text-align: center;
    font-size: 1.3rem;
}
/* .actualLyricsDiv{
    width: 100%;
    height: 90%;
    background-color: brown;
    font-family: 'Recursive', sans-serif;
    text-align: center;
    overflow-y: scroll;
} */
.hide-element-on-keyboard {
    z-index: 1;
}
@media(max-width:768px){
   
    .searchFormMainDiv{
width: 100%;
border: 0px;
    }
    .parentDiv{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: red; */
    }
    .displayLyricsMain{
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* background-color: red; */
    }
    .lyricsMain{
        flex-direction: column;
        width: 100%;
        height: 90vh;
        /* background-color: blue; */
    }
    .cardImg{
        width: 100%;
        height: 40%;
        /* background-color: black; */
    }
    .cardImg img{
        width: 80% !important;
        height: 100% !important;
    }
    /* .musicInfo{
        height:10px !important;
    }
    .musicInfo .musicPlayer{
        margin: 0px !important;
    } */
    .musicInfo{
        background: white !important;
        margin: 0px !important;
        margin-bottom: 30px !important;
    }
    .info{
        display: none;
    }
    .musicLyrics{
        width: 100%;
        height: 50%;
        /* background-color: blue; */
    }
    .hide-element-on-keyboard {
        z-index: -1;
    }
    #searchAnotherLyrics{
        margin: 5px !important;
    }
   
}