*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.appMainDiv{
  width: 100vw;
  height: 100vh;
  /* background:linear-gradient(#de5009,#de7818); */
background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}